PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/autobenin
JWT_SECRET=mets_un_secret_fort_ici_minimum_32_caracteres
CLOUDINARY_CLOUD_NAME=ton_cloud_name
CLOUDINARY_API_KEY=ta_api_key
CLOUDINARY_API_SECRET=ton_api_secret
MTN_MOMO_BASE_URL=https://sandbox.momodeveloper.mtn.com
MTN_MOMO_API_KEY=ta_cle_momo